export(bayesGARCH)
export(formSmpl)
useDynLib(bayesGARCH)
importFrom("mvtnorm", "dmvnorm", "rmvnorm")
importFrom("stats", "dnorm", "rexp", "rgamma", "rnorm", "runif", "uniroot")
importFrom("coda", "mcmc")

